@model AccumenSalesActivity.Models.ViewModel.SalesPersonActivityViewDTO
@using AccumenSalesActivity.App_Code.GlobalClass
@{
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";

}
@{
    int ItmSl = 1;
    int SpecSl = 1;
    TimeSpan TotalTimeDuration = TimeSpan.Zero;

}


<style>
    .activityTimezoneMain {
        font-size: 15px;
        margin-top: 5px;
        font-weight: 550;
        margin-bottom: 5px;
        white-space: nowrap !important;
    }

    .activitysTimezoneTotal {
        font-size: 15px;
        margin-top: 10px;
        font-weight: 550;
        /*   margin-bottom: 5px; */
        white-space: nowrap !important;
        background-color: #50dd8f40
    }


    .activityTimeZoneHeader {
        font-size: 16px;
        font-weight: 550;
        /* margin-bottom: 5px; */
        white-space: nowrap !important;
        background-color: #0aa5a591;
        text-align: center;
    }

    .activitytimezone {
        font-size: 14px;
        margin-left: 40px;
        font-weight: 550;
    }

    .activitytimeDetails{
        font-size: 13px;
        font-weight: 550;
    }
    .activitystart {
        margin-left: 3px;
        border-radius: 10px;
        text-decoration: none;
        padding: 1px 14px;
        /*  background: #ffffff61; */
        color: blue;
    }

    .activitypause {
        margin-left: 3px;
        text-decoration: none;
        padding: 1px 14px;
        /*  background: #ffffff61; */
        color: red;
    }

    .activityresume {
        margin-left: 3px;
        text-decoration: none;
        padding: 1px 14px;
        /*  background: #ffffff61; */
        color: orange;
    }

    .activitycomplete {
        margin-left: 3px;
        text-decoration: none;
        padding: 1px 14px;
        /*  background: #ffffff61; */
        color: green;
    }

    .activityhoursTotal {
        text-decoration: none;
        padding: 1px 14px;
        /*  background: #ffffff61; */
        color: #012401;
    }

    .activityBasicInfozone {
        margin-left: 15px;
        margin-top: 5px;
        font-size: 14px;
        font-weight: 501;
        margin-bottom: 5px;
    }



    .activitydetailsbody {
        margin-bottom: 5px;
        border: 0px;
    }

    .tableoverflow {
        overflow-x: auto !important;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }

</style>

<div class="row">
    <div class="col-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Sales Activity Details Info</h4>

                <div class="text-white font-weight-bold ml-1">
                    <a href="/SalesPersonActivity/SalesActivityIndex" style="color:white;font-size:14px !important" class="SummaryLink pull-right"><i class="fas fa-lg fa-fw m-r-2 fa-list"></i>Summary</a>
                </div>
            </div>




           
                <div class="col-md-12">
                    <div class="card" style="margin-bottom: 10px; margin-top:10px">

                        <div class="activityTimeZoneHeader">

                            <span style="text-align:center">Sales Activity Details Info</span>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="activityBasicInfozone">
                                    <span>Activity Id: </span>
                                    <span> @Model.ActivityId</span>
                                </div>
                                <div class="activityBasicInfozone">
                                    <span>Activity By: </span>
                                    <span> @Model.ActivityByEmpName</span>
                                </div>
                                <div class="activityBasicInfozone">
                                    <span>Customer Name: </span>
                                    <span> @Model.CustomerName</span>
                                </div>
                                <div class="activityBasicInfozone">
                                    <span>Notes: </span>
                                    <span> @Model.Notes</span>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div>
                                    <br />
                                </div>
                                <div class="activityBasicInfozone">
                                    <span>Activity Date: </span>
                                    <span>@Html.ShowNewFormattedDate(Model.ActivityStartTime)</span>
                                </div>
                                <div class="activityBasicInfozone">
                                    <span>Activity Start Time: </span>
                                    <span>@Html.ShowNewFormattedTime(Model.ActivityStartTime)</span>
                                </div>
                                <div class="activityBasicInfozone">
                                    <span>Activity End Time: </span>
                                <span>@Html.ShowNewFormattedTime(Model.ActivityEndTime)</span>
                                </div>
                            @*     <div class="activityBasicInfozone">
                                    <span>Total Spend Hours: </span>
                                <span>@TotalTimeDuration mins</span>
                                </div> *@
                            </div>


                        </div>

                    </div>

                </div>
           
            @*  Activity Time Traking *@
            <div class="col-md-12">

                <div class="card" style="margin-bottom: 10px; margin-top:10px">

                    <div class="activityTimeZoneHeader">


                        <span style="text-align:center">Activity Time Duration</span>


                    </div>
             

                    @foreach (var item in Model.SPActivityTimeDetailsMainDTOList)
                    {
                        <div>
                            @if (item.WorkingStatus == 1)
                            {
                                <div class="activityTimezoneMain">
                                    <span class="activitystart">Start</span>
                                    <span class="fs-12px activitytimezone">@Html.ShowNewFormattedTime(item.ActivityTime)</span>
                                </div>
                            



                            }
                            else if (item.WorkingStatus == 3)
                            {
                                <div class="activityTimezoneMain">
                                    <span class="activityresume">Resume</span>
                                    <span class="fs-12px activitytimezone" style="margin-left:18px !important">@Html.ShowNewFormattedTime(item.ActivityTime)</span>
                                </div>
                            
                            }
                       

                            <div>
                                @if (item.WorkingStatus == 2 && Model.SPActivityTimeDetailsMainDTOList.IndexOf(item) < Model.SPActivityTimeDetailsMainDTOList.Count - 1)
                                {
                                    <div class="row" style="border:none;">
                                        <div class="col-sm-2">   </div>
                                        <div class="col-sm-9">
                                            <span class=" text-muted activitytimeDetails">
                                                @item.WorkingDetails
                                            </span>
                                        </div>
                                    </div>

                                    var nextActivity = Model.SPActivityTimeDetailsMainDTOList[Model.SPActivityTimeDetailsMainDTOList.IndexOf(item) - 1];
                                    var TimeDuration = item.ActivityTime - nextActivity.ActivityTime;
                                    TotalTimeDuration += TimeDuration; 

                                    <div class="activityTimezoneMain">
                                        <span class="activitypause">Pause</span>
                                        <span class="fs-12px activitytimezone" style="margin-left:32px !important">
                                            @Html.ShowNewFormattedTime(item.ActivityTime)
                                            <span>   [ @TimeDuration mins ]</span>
                                            <i class="fa fa-clock opacity-5 ms-1"></i>
                                        </span>
                                    </div>
                                }
                                else if (item.WorkingStatus == 4)
                                {
                                    <div class="row" style="border:none;">
                                        <div class="col-sm-2">   </div>
                                        <div class="col-sm-9">
                                            <span class="text-muted activitytimeDetails">
                                                @item.WorkingDetails
                                            </span>
                                        </div>
                                    </div>

                                    var nextActivity = Model.SPActivityTimeDetailsMainDTOList[Model.SPActivityTimeDetailsMainDTOList.IndexOf(item) - 1];
                                    var TimeDuration = item.ActivityTime - nextActivity.ActivityTime;
                                    TotalTimeDuration += TimeDuration; 
                                    <div class="activityTimezoneMain">
                                        <span class="activitycomplete">Complete</span>
                                        <span class=" fs-12px activitytimezone" style="margin-left:8px !important">
                                            @Html.ShowNewFormattedTime(item.ActivityTime)
                                            <span>[ @TimeDuration mins ]</span>
                                            <i class="fa fa-clock opacity-5 ms-1"></i>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                    }


                    <div class=" activitysTimezoneTotal">


                        <span class="activityhoursTotal">Time Duration</span>

                        <span class="activityhoursTotal">@TotalTimeDuration mins</span>





                    </div>




                </div>


            </div>
            <div class="col-md-12">
                @*  Item Details *@
                @if (Model.SPActivityItemDetailsViewDTOList.Count() != 0)
                {

                    <div class="card activitydetailsbody">


                        <div class="activityTimeZoneHeader">


                            <span style="text-align:center">Item Details Info</span>

                        </div>
                        <div class="tableoverflow">


                            <table role="grid" class="table table-sm table-striped table-bordered tableoverflow">
                                <thead class="bg-thead">
                                    <tr>

                                        <th>Sl</th>
                                        <th>Activity Info</th>
                                        <th>Barcode</th>
                                        <th>Item Qty</th>
                                        <th>Remarks</th>
                                        <th>Item Add Time</th>
                                        <th>Provide Sample</th>
                                        <th>Sample Delivery Time</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.SPActivityItemDetailsViewDTOList)
                                    {
                                        <tr>
                                            <td>@ItmSl</td>
                                            <td>@item.SAItemId</td>
                                            <td>@item.Barcode</td>
                                            <td style="text-align:right">@item.ItemQty</td>
                                            <td>@item.Remarks </td>
                                            <td>@Html.ShowNewFormattedTime(item.DeviceSystemDateTime) </td>
                                            @if (item.IsSample == 0)
                                            {
                                                <td style="color:red; text-align:center">@item.ProvideSample </td>
                                            }
                                            else
                                            {
                                                <td style="color:green;text-align:center">@item.ProvideSample </td>
                                            }
                                            <td>@Html.ShowNewFormattedTime(item.SampleDeliveryTime) </td>

                                        </tr>
                                        ItmSl++;
                                    }



                                </tbody>
                            </table>


                        </div>

                    </div>
                }
                @*  Spec Details *@
                @if (Model.SPActivitySpecDetailsViewDTOList.Count() != 0)
                {
                    <div class="card activitydetailsbody">

                        <div class="activityTimeZoneHeader">


                            <span style="text-align:center">Specification Details Info</span>


                        </div>
                        <div class="tableoverflow">


                            <table role="grid" class="table table-sm table-striped table-bordered tableoverflow">
                                <thead class="bg-thead">
                                    <tr>

                                        <th>Sl</th>
                                        <th>Activity Info</th>
                                        <th>Design Name</th>
                                        <th> Qty.</th>
                                        <th>Remarks</th>
                                        <th>Spec Add Time</th>



                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.SPActivitySpecDetailsViewDTOList)
                                    {
                                        <tr>
                                            <td>@SpecSl</td>
                                            <td>@item.SASpecId</td>
                                            <td>@item.DesignTempName</td>
                                            <td style="text-align:right">@item.SpecQty</td>
                                            <td>@item.Remarks </td>
                                            <td>@Html.ShowNewFormattedTime(item.DeviceSystemDateTime) </td>


                                        </tr>
                                        SpecSl++;
                                    }



                                </tbody>
                            </table>


                        </div>

                    </div>
                }
                @*  Appionment Details *@
                @if (Model.SPACustomerAppointmentViewDTOList.Count() != 0)
                {
                    <div class="card activitydetailsbody">

                        <div class="activityTimeZoneHeader">


                            <span style="text-align:center">Appointment Details</span>


                        </div>
                        <div class="tableoverflow">


                            <table role="grid" class="table table-sm table-striped table-bordered ">
                                <thead class="bg-thead">
                                    <tr>

                                        <th>Sl</th>
                                        <th>Customer Name</th>
                                        <th>Address</th>
                                        <th>Appointment Date</th>
                                        <th>Appointment Time</th>
                                        <th>Purpose</th>
                                        <th>Assigned Employee</th>
                                      


                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.SPACustomerAppointmentViewDTOList)
                                    {
                                        <tr>
                                            <td>@ItmSl</td>
                                            <td>@item.CustomerName</td>
                                            <td>@item.Address</td>
                                            <td>@item.AppointmentDate</td>
                                            <td>@item.AppointmentTime</td>
                                            <td>@item.Purpose</td>
                                            <td>@item.AssignEmployeeName</td>

                                        </tr>
                                        ItmSl++;
                                    }



                                </tbody>
                            </table>


                        </div>

                    </div>
                }
            </div>


        </div>


    </div>
</div>





